{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "core/css/index.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="contant">
        <!--menu-->
        <header>
            <div id="index">Menu</div>
            <div id="salvos">Salvos</div>
            <div id="login">
                <a href="">Login</a>
            </div>
        </header>
        <div class="main">
            <div class="search-container">
                <input type="text" name="search-text" id="search-text">
                <button type="Submit">Pesquisar</button>
            </div>
            <div class="filter-panel">
                <div class="filter-option">
                    <p>D.Y</p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="dosage1">
                </div>
                <div class="filter-option">
                    <p>FFO.Y</p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="dosage1">
                </div>
                <div class="filter-option">
                    <p>P.VP</p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="dosage1">
                </div>
                <div class="filter-option">
                    <p>Liquidez</p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="dosage1">
                </div>
                <div class="filter-option">
                    <p>Q.I</p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="dosage1">
                </div>
                <div class="filter-option">
                    <p>Preço m²</p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="dosage1">
                </div>
                <div class="filter-option">
                    <p>Vacancia</p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="dosage1">
                </div>
                <div class="filter-option">
                    <p>CAP. Rate</p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="dosage1">
                </div>
            </div>
            <div class="result">
                <table>
                    <tr id="header">
                        <th>Papel</th>
                        <th>Segmento</th>
                        <th>Cotação</th>
                        <th>D.Y</th>
                    </tr>
                    {% for c in list %}
                    <tr>
                        <td>{{c.papel}}</td>
                        <td>{{c.segmento}}</td>
                        <td>{{c.cotacao}}</td>
                        <td>{{c.d_yield}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
