{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <script type="module" src="{% static 'core/js/index.js' %}" defer ></script>
</head>
<body>
    <div class="contant">
        <header>
            <div id="index"><a href="{% url 'index' %}">Menu</a></div>
            <div id="salvos">Salvos</div>
            <div id="login">
                <a href="">Login</a>
            </div>
        </header>
        <main>
            <div class="search-container">
                <form method="post">
                    {% csrf_token %}
                    {{search}}
                    <button type="Submit">Pesquisar</button>
                </form>
            </div>
            <form class="filter-panel"  action=>
                {% csrf_token %}
                {{filter}}
            </form>
            <div class="result">
                <table id="emprestimo">
                    <tr id="header">
                        <th>Papel</th>
                        <th>Segmento</th>
                        <th>Cotação</th>
                        <th>D.Y</th>
                    </tr>
                    {% for c in list %}
                    <tr>
                        <td>{{c.papel}}</td>
                        <td>{{c.segmento}}</td>
                        <td>{{c.cotacao}}</td>
                        <td>{{c.d_yield}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </div>
    <footer>
    </footer>
</body>
</html>
