{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <script type="module" src="{% static 'core/js/index.js' %}" defer ></script>
</head>
<body>
    <div class="contant">
        <main>
            <div class="search-container">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    {{search}}
                    <button type="Submit">Pesquisar</button>
                </form>
            </div>
            <form id="form-filter" class="filter-panel" action="{% url 'filter' %}" method="post">
                {% csrf_token %}
                {{ filter }}
            </form>
            <div class="button">
                <button id="salvar" type="submit">Salvar</button>
                <button form="form-filter" id="filtrar" type="submit">Filtrar</button>
            </div>
            <div class="result">
                <table id="emprestimo">
                    <tr id="header">
                        <th>Papel</th>
                        <th>Segmento</th>
                        <th>Cotação</th>
                        <th>D.Y</th>
                    </tr>
                    {% for c in list %}
                    <tr>
                        <td>{{c.papel}}</td>
                        <td>{{c.segmento}}</td>
                        <td>{{c.cotacao}}</td>
                        <td>{{c.d_yield}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </div>
    <footer>
    </footer>
</body>
</html>
