@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
header{
    display: flex;
    background-color: rgb(250, 204, 21);
    width: 100%;
    /* border: 1px solid black; */
    padding: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
}
div#index, div#salvos, div#login{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 20px;
}
div#login{
    position: absolute;
    right: 16px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-container {
    display: flex;
    margin-top: 20px;
    height: 350px;
}
.search-container input {
    margin: auto;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    height: 50px;
    box-sizing: border-box; 
}

.search-container button {
    margin: auto;
    padding: 10px 20px; 
    font-size: 16px;
    background-color: rgb(250, 204, 21);
    color: #000000;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    height: 50px;
}


.result {
    text-align: center;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: none;
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: rgba(0,0,0,0.1);
}
tr#header{
    background:rgb(250, 204, 21) ;
}
.filter-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap as needed */
     /* Add a border around the panel */
    padding: 10px; /* Add some padding for spacing */
}

.filter-option {
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 24px 36px ;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
}