@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

*, form{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
header{
    display: flex;
    background-color: rgb(250, 204, 21);
    width: 100%;
    padding: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
}
div#index, div#salvos, div#login{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 0 10px;
    font-size: 20px;
}
div#login{
    position: absolute;
    right: 16px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-container {
    display: flex;
    margin-top: 20px;
    height: 330px;
}
.search-container form input {
    margin: auto;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    height: 50px;
    box-sizing: border-box; 
}
.search-container form button {
    margin: auto;
    padding: 10px 20px; 
    font-size: 16px;
    background-color: rgb(250, 204, 21);
    color: #000000;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    height: 50px;
}
.result {
    text-align: center;
    width: 80%;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: none;
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: rgba(0,0,0,0.1);
}
tr#header{
    background:rgb(250, 204, 21) ;
}
.filter-panel {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Cria 6 colunas iguais */
    grid-template-rows: repeat(4, 1fr);
    gap: 5px; 
    padding: 10px; 
    border-radius: 4px;
}
.filter-panel input {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
}
.filter-panel label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container form{
    display: flex;
}
.filter-panel input {
    width: 70%;
}
.filter-panel span{
    text-align: end;
    display: grid;
    align-content: center;
}
.button{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 20px;
    padding-bottom: 60px;
}

.button button{
    width: 120px;
    height: 40px;
    border-color: #eaec67;
    border-radius: 4px;
    background-color: #e9eb8e;
    
}

button:hover{
    filter: brightness(0.9);
}